@using ToursAndTravelsManagement.Common
@model PaginatedList<ToursAndTravelsManagement.Models.Tour>
@{
    ViewData["Title"] = "Tours";
}

<h1>Tours</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>TourId</th>
            <th>Name</th>
            <th>Description</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Price</th>
            <th>MaxParticipants</th>
            <th>Destination</th>
            <th>CreatedBy</th>
            <th>CreatedDate</th>
            <th>IsActive</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TourId)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.MaxParticipants)</td>
                <td>@Html.DisplayFor(modelItem => item.Destination.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TourId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TourId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TourId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-pageSize="@ViewBag.PageSize"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-pageSize="@ViewBag.PageSize"
   class="btn btn-default @nextDisabled">
    Next
</a>